[user]
	name = Brett Smith
	email = xbcsmith@gmail.com
[core]
	editor = vim
[pull]
	rebase = true
[alias]
	st = status
	last = log -1 HEAD
	br = branch -r
	co = checkout
	ci = commit
	unstage = reset HEAD --
	b = branch
	t = tag --list -n
	cb = checkout -b
	can = commit --amend --no-edit
	lt = describe --tags
	pl = pull --rebase --autostash
