[Desktop Entry]
Name=balenaEtcher
Comment=Flash OS images to SD cards and USB drives, safely and easily.
Exec=/home/bsmith/apps/balena-etcher/balenaEtcher-@VERSION@-x64.AppImage %U
Terminal=false
Type=Application
Icon=/home/bsmith/apps/balena-etcher/Etcher-icon.png
StartupWMClass=balenaEtcher
X-AppImage-Version=@VERSION@
Categories=Utilities;
X-AppImage-BuildId=1SC1PpXL4YJimFu0jNlSf6pZ5nu
X-Desktop-File-Install-Version=0.23
X-AppImage-Comment=balenaEtcher
TryExec=/home/bsmith/apps/balena-etcher/balenaEtcher-@VERSION@-x64.AppImage
